<header class="site-header">

  <h1 class="site-title">
    <a href="{{ site.baseurl }}/" title="Home page">
      {% if site.logo %}
        <img class="site-logo" src="{{ site.baseurl }}/assets/img/{{ site.logo }}" alt="{{ site.title }}">
      {% else %}
        {{ site.title }}
      {% endif %}
    </a>
  </h1>

  <nav class="site-nav">
    {% if site.data.navigation %}
      {% for link in site.data.navigation %}
        {% assign current = nil %}
        {% if page.url == link.url or (link.url != '/' and page.url contains link.url) %}
          {% assign current = 'class="current"' %}
        {% endif %}
        <a href="{{ link.url | prepend: site.baseurl }}" {{ current }} {% if link.desc %} title="{{ link.desc }}" {% endif %}>{{ link.title }}</a>
      {% endfor %}
    {% else %}
      {% for link in site.navigation %}
        {% assign current = nil %}
        {% if page.url contains link.url %}
          {% assign current = 'class="current"' %}
        {% endif %}
        <a href="{{ link.url | prepend: site.baseurl }}" {{ current }} {% if link.desc %} title="{{ link.desc }}" {% endif %}>{{ link.title }}</a>
      {% endfor %}
    {% endif %}
    
    <button class="search-toggle" id="search-toggle" aria-label="Search (Ctrl+K)">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
    
    {% include theme-toggle.html %}
  </nav>

</header>
<!-- site-header -->
