<div class="search-overlay" id="search-overlay">
  <div class="search-modal">
    <div class="search-header">
      <input type="text" class="search-input" id="search-input" placeholder="Search... (Press ESC to close)" autocomplete="off">
      <button class="search-close" id="search-close" aria-label="Close search">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <div class="search-results" id="search-results">
      <div class="search-results-empty">Start typing to search...</div>
    </div>
  </div>
</div>
